* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux";
}
.container-main {
    display: flex;
}
.aside {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    background-color: black;
    z-index: 1000;
}

.container-img {
    display: flex;
    justify-content: center;
}
.container-img img {
    width: 160px;
    height: 100px;
    border-radius: 10px;
}
.menu {
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 10px;
    z-index: 10000;
}
.menu li {
    width: 120px;
}
.menu a {
    color: rgb(184, 184, 184);
    text-decoration: none;
}
.menu a:hover {
    color: white;
}
.active a {
    color: white;
    font-weight: 700;
    font-size: 28px;
}


.container {
    color: white;
    background-color: black;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}
.titulo {
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
}
.container-cards {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}
.card {
    font-size: 20px;
    overflow: hidden;           /* oculta lo que sobrepasa el div */
    text-overflow: ellipsis;    /* agrega los "..." al final */
    width: 220px;  
    height: auto;             /* ancho fijo del div */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.card img{
    width: 220px;
    height: 290px;
    border-radius: 10px;
}
.next {
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: none;
}
.container-search {
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.container-search input {
    width: 300px;
    height: 50px;
    font-size: 22px;
}
.container-search button {
    width: 100px;
    height: 50px;
    font-size: 22px;
    border: none;
}
.container-resultados {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}