.item-container {
    width: 100%;
    height: 100vh;
    z-index: 10;
}
.item-container::after {
    content: "";
    position: absolute;
    inset: 0;                        /* ocupa todo el contenedor */
    background-color: rgba(0, 0, 0, 0.5); /* negro con 50% de opacidad */
    pointer-events: none;            /* deja pasar clics */
}
.item-data {
    display: flex;
    justify-content: center;
    border: solid 1px white;
    z-index: 20;
    gap: 50px;
}
.item-data__img {
    border: solid 1px red;
    z-index: 30;
    width: 220px;
}
.item-data__img img {
    width: 220px;
    z-index: 100;
}
.item-data__info {
    width: 900px;
    border: solid 1px green;
    color: white;
    display: flex;
    flex-direction: column;
    z-index: 20;
}

.item-data__info h1 {
    font-size: 40px;
}