* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux";
}
.container-main {
    display: flex;
}
.aside {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    background-color: black;
    z-index: 100;
}

.container-img {
    display: flex;
    justify-content: center;
}
.container-img img {
    width: 160px;
    height: 100px;
    border-radius: 10px;
}
.container {
    width: 100%;
    height: 100vh;
    overflow-x: auto;
    background-color: black;

}
.titulo {
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
}
.scroll-wrapped {
    position: relative;       /* Para posicionar los botones dentro */
    width: 100%;
    display: flex;
}
.container-cards {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    color: white;
    scrollbar-width: none;
    gap: 15px;
}
.container-cards::-webkit-scrollbar {
    display: none;
}
.card img{
    width: 220px;
    height: 300px;
    border-radius:5px;
}

.card {
    height: auto;
}
.menu {
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 10px;
    z-index: 10000;
}
.menu li {
    width: 120px;
}
.menu a {
    color: rgb(206, 206, 206);
    text-decoration: none;
}
.menu a:hover {
    color: white;
}
.active {
    color: white;
    font-weight: 700;
    font-size: 28px;
}


.scroll-btn {
    z-index: 100;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 50%;
    background-color: rgb(88, 88, 88);
}
.left {
    position: absolute;
    left: 10px;
    top: 40%;
}
.right {
    position: absolute;
    right: 10px;
    top: 40%;
}