* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux";
}
.container-main {
    display: flex;
}
.aside {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    background-color: black;
}

.container-img {
    display: flex;
    justify-content: center;
}
.container-img img {
    width: 160px;
    height: 100px;
    border-radius: 10px;
}
.container {
    width: 100%;
    height: 100vh;
    overflow-x: auto;
    background-color: black;

}
.titulo {
    color: white;
    height: 80px;
    display: flex;
    align-items: center
    ;
}
.container-cards {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    color: white;
    gap: 10px;
    position: relative;
}
.container-cards img{
    width: 200px;
    height: 270px;
}

.card {
    height: auto;
}
.menu {
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 10px;
}
.menu li {
    width: 120px;
}

.scroll-btn {
    width: 50px;
    height: 50px;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 50%;
    background-color: rgb(88, 88, 88);
}
.left {
    position: absolute;
    left: 0;
    top: 40%;
}
.right {
    position: absolute;
    right: 0;
    top: 40%;
}