* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux";
}
.container-main {
    display: flex;
}
.aside {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100vh;
    background-color: black;
}

.container-img {
    display: flex;
    justify-content: center;
}
.container-img img {
    width: 160px;
    height: 100px;
    border-radius: 10px;
}
.container-cards {
    width: 100%;
    display: flex;
    overflow-x: auto;
}
.container-cards img{
    width: 200px;
    height: 270px;
}

.menu {
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 10px;
}
.menu li {
    width: 200px;
    border: solid 1px white;
}